.item:hover {
  background-color: #c5c5c5c7;
  box-shadow: 0 0 3px #00000047;
  cursor: pointer;
}

#popImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 2px 2px 3px #0000005c;
}
